<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>registerURL</key>
	<string>http://54.251.240.14:8080/registerUser</string>
	<key>fb_name</key>
	<string>ergregre</string>
</dict>
</plist>
